.mailTag {
    margin-left: 8px;
}
.mailTo {
    margin-left: 6px;
    &:before {
        font-size: 20px;
        line-height: 18px;
    }
}
.mailSubject {
    margin-top: 12px;
}
.mailInfoTable {
    margin-top: 8px;
}
.tableRow {
    margin-bottom: 8px;
    &:last-of-type {
        margin-bottom: 0;
    }
}
.paddedRow {
    padding-left: 28px;
}
.replyTo {
    margin-left: 54px;
    cursor: pointer;
    width: 78px;
    .mdi {
        color: #94A1B3;
        margin-right: 10px;
        &:before {
            font-size: 20px;
        }
    }
}
.tableLeft {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    padding: 0 10px 0 0;
    width: 44px;
    flex-shrink: 0;
}
.tableRight {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    max-width: 554px;
    overflow: hidden;
    width: 100%;
}
.mailItem {
    white-space: nowrap;
}
.mailTextArea {
    &.webix_el_textarea {
        textarea {
            padding: 7px 5px;
        }
    } 
}
.mailWrapper {
    display: flex;
    flex-direction: column;
}
.mailInner {
    max-width: 800px;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    h1 {
        font-weight: 500;
        text-align: center;
    }
    p {
        line-height: 22px;
    }
    img {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}